html{
    background-color: black;
    text-align: center;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: white;
}

h1{
    font-size: 3.125rem;
    text-align: center;
    font-weight: normal;
}

h5 a{
    color: aquamarine;
    text-decoration: underline;
    font-weight: normal;
    font-size: 16px;
}

h2{
    font-size: 2.625rem;
    font-weight: 300;
}

h3{
    color: gray;
    font-size: 1.313rem;
}

footer p{
    color: gray;
    text-align: right;
    font-size: 1.375rem;
}